In [2]:
import pandas as pd
import numpy as np
import json

In [ ]:
credits = pd.read_csv('./dataset/credits.csv')
links = pd.read_csv('./dataset/links.csv')
links_small = pd.read_csv('./dataset/links_small.csv')
movies_metadata = pd.read_csv('./dataset/movies_metadata.csv')
keywords = pd.read_csv('./dataset/keywords.csv')

/var/folders/s7/_6xph2kx7zj1t3c3tmb0gk5c0000gn/T/ipykernel_4009/606251355.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv('./dataset/movies_metadata.csv')

In [4]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [5]:
# movieId 열을 기준으로 중복된 행 제거
movies_metadata = movies_metadata.drop_duplicates(subset='id', keep='first')
credits = credits.drop_duplicates(subset='id', keep='first')
keywords = keywords.drop_duplicates(subset='id', keep='first')

In [6]:
movies_metadata = movies_metadata[movies_metadata['id'].str.isdigit()]
# int64로 변환
movies_metadata['id'] = movies_metadata['id'].astype('int64')

In [7]:
movies_metadata = movies_metadata.merge(credits,left_on='id', right_on='id', how='left')

In [8]:
#keyword 

movies_metadata = movies_metadata.merge(keywords,left_on='id', right_on='id', how='left')
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [9]:
#Content-Based Filtering를 적용시 
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [10]:
from ast import literal_eval

features = ['cast','crew','genres','keywords','spoken_languages','belongs_to_collection']

for feature in features:
    movies_metadata[feature] = movies_metadata[feature].apply(
    lambda x: literal_eval(x) if pd.notna(x) else 'null'
)

In [11]:
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,null,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,null,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [12]:
def extract_name(rows, attribute = 'name'):
    if rows is None:
        return np.nan
    if isinstance(rows, list):
        if len(rows) == 0:
            return np.nan
        #return [row[attribute] if attribute in row else np.nan for row in rows]
        return ",".join(row.get(attribute, ' ') for row in rows)
    return np.nan

In [13]:
movies_metadata['genres'] = movies_metadata['genres'].apply(extract_name)

In [14]:
movies_metadata['spoken_languages'] = movies_metadata['spoken_languages'].apply(lambda x: extract_name(x,'iso_639_1'))

In [15]:
movies_metadata['keywords'] = movies_metadata['keywords'].apply(extract_name)

In [16]:
movies_metadata['cast'] = movies_metadata['cast'].apply(extract_name)

In [17]:
def get_director(x):
    if x is None:
        return np.nan
    if isinstance(x, list):
        for i in x:
            if isinstance(i, dict) and 'job' in i and i['job'] == 'Director':
                return i['name']
    return np.nan
movies_metadata['director'] = movies_metadata['crew'].apply(get_director)

In [18]:
movies_metadata['belongs_to_collection'] = movies_metadata['belongs_to_collection'].apply(lambda x: x['name'] if pd.notna(x) and 'name' in x else x)

In [19]:
movies_metadata = movies_metadata.drop(columns=['crew'], axis = 1)

#spoken_languages
movies_metadata['spoken_languages'].apply(lambda x: extract_names(x, 'iso_639_1'))

In [20]:
movies_metadata['overview']

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45428          Rising and falling between a man and woman.
45429    An artist struggles to finish his work while a...
45430    When one of her hits goes wrong, a professiona...
45431    In a small town live two brothers, one a minis...
45432    50 years after decriminalisation of homosexual...
Name: overview, Length: 45433, dtype: object

In [21]:
movies_metadata

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,keywords,director
0,False,Toy Story Collection,30000000,"Animation,Comedy,Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,en,Released,NaN,Toy Story,False,7.7,5415.0,"Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wal...","jealousy,toy,boy,friendship,friends,rivalry,bo...",John Lasseter
1,False,null,65000000,"Adventure,Fantasy,Family",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"en,fr",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"Robin Williams,Jonathan Hyde,Kirsten Dunst,Bra...","board game,disappearance,based on children's b...",Joe Johnston
2,False,Grumpy Old Men Collection,0,"Romance,Comedy",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,en,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"Walter Matthau,Jack Lemmon,Ann-Margret,Sophia ...","fishing,best friend,duringcreditsstinger,old men",Howard Deutch
3,False,null,16000000,"Comedy,Drama,Romance",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,en,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"Whitney Houston,Angela Bassett,Loretta Devine,...","based on novel,interracial relationship,single...",Forest Whitaker
4,False,Father of the Bride Collection,0,Comedy,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,en,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"Steve Martin,Diane Keaton,Martin Short,Kimberl...","baby,midlife crisis,confidence,aging,daughter,...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45428,False,null,0,"Drama,Family",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,fa,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"Leila Hatami,Kourosh Tahami,Elham Korda",tragic love,Hamid Nematollah
45429,False,null,0,Drama,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,tl,Released,NaN,Century of Birthing,False,9.0,3.0,"Angel Aquino,Perry Dizon,Hazel Orencio,Joel To...","artist,play,pinoy",Lav Diaz
45430,False,null,0,"Action,Drama,Thriller",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,en,Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"Erika Eleniak,Adam Baldwin,Julie du Page,James...",NaN,Mark L. Lester
45431,False,null,0,NaN,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,NaN,Released,NaN,Satan Triumphant,False,0.0,0.0,"Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlo...",NaN,Yakov Protazanov
45432,False,null,0,NaN,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,en,Released,NaN,Queerama,False,0.0,0.0,NaN,NaN,Daisy Asquith

In [22]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

movies = movies_metadata

# 'overview', 'genres', 'keywords' 컬럼을 합쳐서 하나의 텍스트로 만든다.
movies['combined'] = movies['overview'] + " " + movies['genres'] + " " + movies['keywords'] + movies['belongs_to_collection'] + movies['director']
movies['combined'] = movies['combined'].fillna('')
# TF-IDF 벡터화
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['combined'])

# # # 코사인 유사도 계산
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [23]:
def recommend_movie(movie_title, cosine_sim=cosine_sim):
    # 영화 제목의 인덱스를 찾는다
    #print(movies.head())
    #print(movies[movies['original_title'] == movie_title])
    idx = movies.index[movies['original_title'] == movie_title].tolist()[0]
    
    # 해당 영화와 다른 영화들 간의 유사도를 가져온다
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # 유사도를 기준으로 내림차순 정렬하고, 첫 번째 영화(자기 자신 제외) 추천
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:]
    
    # 가장 유사한 3개의 영화 가져오기
    movie_indices = [i[0] for i in sim_scores[:3]]
    
    # 추천 영화 리스트
    recommended_movies = movies['original_title'].iloc[movie_indices]
    
    return recommended_movies

# 'Toy Story'를 기준으로 추천
recommended = recommend_movie('Toy Story')
print(recommended)

2996     Toy Story 2
15342    Toy Story 3
24506      Small Fry
Name: original_title, dtype: object

In [27]:
recommend_movie('Jumanji'), recommend_movie('Father of the Bride Part II')

(6165         Brainscan
 10700    Grandma's Boy
 9500         Word Wars
 Name: original_title, dtype: object,
 6792     Father of the Bride
 19792                Babbitt
 6305         North to Alaska
 Name: original_title, dtype: object)

In [26]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,cast,keywords,director,combined
0,False,Toy Story Collection,30000000,"Animation,Comedy,Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,"Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wal...","jealousy,toy,boy,friendship,friends,rivalry,bo...",John Lasseter,"Led by Woody, Andy's toys live happily in his ..."
1,False,null,65000000,"Adventure,Fantasy,Family",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"Robin Williams,Jonathan Hyde,Kirsten Dunst,Bra...","board game,disappearance,based on children's b...",Joe Johnston,When siblings Judy and Peter discover an encha...
2,False,Grumpy Old Men Collection,0,"Romance,Comedy",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"Walter Matthau,Jack Lemmon,Ann-Margret,Sophia ...","fishing,best friend,duringcreditsstinger,old men",Howard Deutch,A family wedding reignites the ancient feud be...
3,False,null,16000000,"Comedy,Drama,Romance",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"Whitney Houston,Angela Bassett,Loretta Devine,...","based on novel,interracial relationship,single...",Forest Whitaker,"Cheated on, mistreated and stepped on, the wom..."
4,False,Father of the Bride Collection,0,Comedy,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"Steve Martin,Diane Keaton,Martin Short,Kimberl...","baby,midlife crisis,confidence,aging,daughter,...",Charles Shyer,Just when George Banks has recovered from his ...